<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="my-5 mx-5">
        <form action="#" th:action="@{/user-update}" th:object="${user}" method="post">

            <div class="form-group">
                <label for="id">ID</label>
                <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="Id">
            </div>
            <br>
            <div class="form-group">
                <label for="firstname">First name</label>
                <input class="form-control" type="text" th:field="*{firstName}" id="firstname" placeholder="First name">
            </div>
            <br>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <input class="form-control" type="text" th:field="*{lastName}" id="lastname" placeholder="Last name">
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select th:field="*{status}" id="status">
                    <option th:each="iterStatus : ${UserStatuses}"
                            th:value="${iterStatus}"
                            th:text="${iterStatus}"
                            th:selected="${iterStatus == status}"></option>
                </select>
<!--                <input class="form-control" type="text" th:field="*{status}" id="status" placeholder="Status">-->
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Confirm your password</label>
                <input class="form-control" type="password" th:field="*{passwordConfirm}" id="passwordConfirm" placeholder="passwordConfirm">
            </div>
            <br>
            <input class="btn btn-primary"  type="submit" value="Сохранить">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
            integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

</body>
</html>